/* Background images */
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#homepage {
    background-image: url(P-HomePage.jpg);
}

/* Desktop screens background images */
@media (min-width: 1025px) {
    #homepage {
        background-image: url(L-HomePage.jpg);
    }
}

/*Fonts and text things*/
h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align
}

h1 {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}