/* Background images */
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#homepage {
    background-image: url(P-HomePage.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Desktop screens background images */
@media (min-width: 1025px) {
    #homepage {
        background-image: url(L-HomePage.jpg);
    }
}

/*Fonts and text things*/
h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
}

p {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 0.75rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.25rem;

}

.start-button {
    font-family: "Rye", serif;
    font-size: 1rem;
    padding: 0.75em;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: #1e1e1e;
    -webkit-text-fill-color: #1e1e1e;
    background-color: #ede024;
    box-shadow: 0 0 10px #ede024;
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {

    0%,
    100% {
        box-shadow: 0 0 5px #ede024, 0 0 10px #ede024;
        background-color: #ede024;
    }

    50% {
        box-shadow: 0 0 20px #eda70e, 0 0 40px #eda70e;
        background-color: #eda70e;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    font-size: 0.75rem;
}