p,
li {
    font-family: "Outfit"
}

h2,
h1 {
    font-family: "Cherry Swash"
}

h1 {
    font-size: 4em;
}

h1 {
    text-align: center;
    background-image: url("Chicken adobo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 40px 20px;
}

h2 {
    font-size: 3em
}

body {
    background-color: #de92e8
}