p,
li {
    font-family: "Outfit"
}

h2,
h1 {
    font-family: "Cherry Swash"
}

h1 {
    font-size: 6em;
}

h1 {
    font-size: 6em;
    text-align: center;
    background-image: url("Chicken adobo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

h2 {
    font-size: 3em
}

body {
    background-color: #de92e8
}