@font-face {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
}

@font-face {
font-family: "Cherry Swash", serif;
  font-weight: 700;
  font-style: normal;
}
p, li {
  font-family: "Outfit"
}

h2, h1 {
  font-family: "Cherry Swash"
}

h1 {
  font-size: 6em
}

h1 {
  background-image: url("Chicken adobo.jpg")
}

h1 {
    background-size: contain;
}

h2 {
  font-size: 3em
}

body {
  background-color: #de92e8
}