/* styles for both Anni Albers layouts */
h1 {
  text-align:center
}

h1 {
  font-size: 4rem
}
h2 {
  font-style: italic
}
h2 {
  text-align:center
}
#p1 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}

#p2 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}

#callout1 {
  margin-left: calc(100% *1/6);
   margin-right: calc(100% *1/6);
  line-height: 3.8rem;
  text-align: center
}

#callout1 {
  font-weight: bold;
  font-size: 4rem
}
#p4 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *3/6);
  line-height: 1.5rem;
}
#p5 {
  margin-left: calc(100% *3/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}

#p6 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *3/6);
  line-height: 1.5rem;
}
#callout2 {
  margin-left: calc(100% *1/6);
   margin-right: calc(100% *1/6);
  line-height: 3.8rem;
  text-align: center
}

#callout2 {
  font-weight: bold;
  font-size: 4rem
}
  #p7 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *2/6);
  line-height: 1.5rem;
}
#p8 {
  margin-left: calc(100% *3/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}
#callout3 {
  margin-left: calc(100% *1/6);
   margin-right: calc(100% *1/6);
  line-height: 3.8rem;
  text-align: center
}

#callout3 {
  font-weight: bold;
  font-size: 4rem
}
#p9 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *2/6);
  line-height: 1.5rem;
}
#p10 {
  margin-left: calc(100% *2/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}
#callout4 {
  margin-left: calc(100% *1/6);
   margin-right: calc(100% *1/6);
  line-height: 3.8rem;
  text-align: center
}

#callout4 {
  font-weight: bold;
  font-size: 4rem
}
#p11 {
  margin-left: calc(100% *1/6);
  margin-right: calc(100% *2/6);
  line-height: 1.5rem;
}
#p12 {
  margin-left: calc(100% *2/6);
  margin-right: calc(100% *1/6);
  line-height: 1.5rem;
}
#about {
  margin-left: calc(100% *1.25/6);
  margin-right: calc(100% *1.25/6);
  line-height: 1.5rem;
}
#about {
  text-align: center
}

/* ***************************************************** */
/* CSS for index2 */